.facebook {
  background-color: #efefef;
  color: #3C599F;
}

.github {
  background-color: #efefef;
  color: #800080;
}

.twitter {
  background-color: #efefef;
  color: #1dcaff;
}

.linkedin {
  background-color: #efefef;
  color: #007bb6;
}

.gmail {
  background-color: #efefef;
  color: #007ee5;
}

.icon {
  position: relative;
  top: -7px;
  left: -1px;
}

.active-icon {
  border-color: gold;
}

.inactive-icon {
  border-color: black;
}

.icon-container {
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
  height: 85px;
  width: 84px;
}