html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 100%;
  margin-top: 150px;
  margin-bottom: 30px;
}

footer {
  bottom: 0;
  font-size: 12px;
  max-height: 2em;
  min-height: 0;
  position: fixed;
  width: 60vw;
  display: flex;
  align-items: center;
}

.app {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Pixelated";
  font-weight: 600;
  line-height: 1.4em;
  max-width: 60vw;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 500px;
  width: 60vw;
}

.main {
  flex: 1;
}

.name-tag {
  // border-style: solid;
  // border-color: white;
  // border-width: 1px;
  font-size: 100px;
  height: 1.2em;
  white-space: nowrap;
}

.menu {
  // border-style: solid;
  // border-color: red;
  // border-width: 1px;
  list-style-type: none;
  margin: 0;  
  padding: 0;
}

.menu-item {
  // border-style: solid;
  // border-color: green;
  // border-width: 1px;
  font-size: 60px;
  height: 1em;
  // padding-left: 21vw;
  white-space: nowrap;
}

.menu-item-indent {
  // border-style: solid;
  // border-color: purple;
  // border-width: 1px;
  display: inline-block;
  width: 21vw;
  min-width: 20px;
}

.menu-item-text {
  // border-style: solid;
  // border-color: teal;
  // border-width: 1px;
  cursor: pointer;
  align-items: center;
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  line-height: 1em;
}

.jimmy-sprite {
  // border-style: solid;
  // border-color: orange;
  // border-width: 1px;
  height: 28px;
  width: 25px;
  background-image: url("../images/ExSprite.png");
  margin-right: 15px;
  display: inline-block;
  align-items: center;
  vertical-align: middle;
}

.modal {
  position: fixed;
  background-color: #ef0000;
  opacity: 0.8;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  transition: 0.75s;
  top: 15vh;
  left: 15vw;
  height: 70vh;
  width: 70vw;
  z-index: 1;
}

.modal-close {
  left: 50vw;
  width: 0;
  top: 50vh;
  height: 0;
  opacity: 0;
  font-size: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

@font-face {
  font-family: "Pixelated";
  src: url("../fonts/Pixelated.ttf");
}