html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  // font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Pixelated';
  line-height: 1.4em;
  background: #efefef;
  color: #4d4d4d;
  min-height: 100vh;
  flex-direction: column;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

footer {
  background: #000000;
  height: 100px;
}

.hidden {
  display: none;
}

.main {
  flex: 1;
}


.name-tag {
  background: #00ee00;
}

@font-face {
  font-family: 'Pixelated';
  src: url('../fonts/Pixelated.ttf');
}